@use 'variables' as v;

html {
    font-size: 62,5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: v.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$negro;
}

p {
    font-size: 1,5rem;
    color: v.$negro;
    line-height: 1,5;
}

.contenedor {
    width: 90%;
    max-width: 1000px; 
    margin: auto;
    overflow: hidden;
 }

a {
    text-decoration: none;
}

h1, h2, h3{
    margin: 0 0 4rem 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding-top: 5rem;
}
h2 {
    padding: 0;
    font-size:3rem ;
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
}

span {
    font-size: 3rem;
}

img {

}

body > section {
    padding: 8rem 0;
}


